################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Quizora.Api/bin
/Quizora.Api/obj
/src/Modules/AITutor/AITutor.Application/bin
/src/Modules/AITutor/AITutor.Application/obj
/src/Modules/AITutor/AITutor.Domain/bin
/src/Modules/AITutor/AITutor.Domain/obj
/src/Modules/AITutor/AITutor.Infrastructure/bin
/src/Modules/AITutor/AITutor.Infrastructure/obj
/src/Modules/Analytics/Analytics.Application/bin/Debug/net9.0
/src/Modules/Analytics/Analytics.Application/obj
/src/Modules/Analytics/Analytics.Infrastructure/bin/Debug/net9.0
/src/Modules/Analytics/Analytics.Infrastructure/obj
/src/Modules/ExamEngine/ExamEngine.Application/bin
/src/Modules/ExamEngine/ExamEngine.Application/obj
/src/Modules/ExamEngine/ExamEngine.Domain/bin
/src/Modules/ExamEngine/ExamEngine.Domain/obj
/src/Modules/ExamEngine/ExamEngine.Infrastructure/bin
/src/Modules/ExamEngine/ExamEngine.Infrastructure/obj
/src/Modules/Identity/Identity.Application/bin
/src/Modules/Identity/Identity.Application/obj
/src/Modules/Identity/Identity.Domain/bin
/src/Modules/Identity/Identity.Domain/obj
/src/Modules/Identity/Identity.Infrastructure/bin
/src/Modules/Identity/Identity.Infrastructure/obj
/src/Modules/QuizManagement/QuizManagement.Application/bin
/src/Modules/QuizManagement/QuizManagement.Application/obj
/src/Modules/QuizManagement/QuizManagement.Domain/bin
/src/Modules/QuizManagement/QuizManagement.Domain/obj
/src/Modules/QuizManagement/QuizManagement.Infrastructure/bin
/src/Modules/QuizManagement/QuizManagement.Infrastructure/obj
/src/Quizora.SharedKernel/bin
/src/Quizora.SharedKernel/obj
/tests/Quizora.ArchTests/bin
/tests/Quizora.ArchTests/obj
/tests/Quizora.IntegrationTests/bin
/tests/Quizora.IntegrationTests/obj
/tests/Quizora.UnitTests/obj
/tests/Quizora.UnitTests/bin
